<div class="footer">
  <div class="footer-copyright">
    <%= link_to "#", class: "footer-brand" do %>
    <%= image_tag "logo2.png" %>
  <% end %>
  </div>
  <div class="footer-links">
      <h3>Síguenos en nuestras redes sociales</h3>
    <a href="https://www.linkedin.com/company/creativatech", target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.instagram.com/creativalab.pe/?hl=es-la", target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>

  </div>

</div>
