<div class='container my-5'>
  <div class="d-flex">
    <div class="pb-5">
        <div class="card h-100">
          <div class="card-body">
            <h1 class="card-title"><%= @course.name %></h1>
            <%# <p class="card-text"><strong>Descripcion :</strong><%= @course.description %>
            <%# <p class="card-text"><strong>Precio por dia: </strong> s/. <%= @course.price %>
              <%= link_to 'Ver módulos', new_course_path(@course), class: "btn btn-primary" %>

          </div>
        </div>
    </div>
  </div>
</div>
