.index-banner > p{
  color: white;
  margin-top: 30px;
}

.courses{
  color: #2E5BFF;
}

.banner-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.flex-item{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ban-2{
  display: flex;
  flex-direction: column;
}

.card-body{
    margin-top: -230px;
    height: calc(80vh - -282px);
    padding: 334px;
}
