.home-banner {
  background-image:asset-url('banner.png');
  background-size: cover;
  width: 100%;
  text-align: center;
  height: 654px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 209px;
  left: 276px;

  &--left {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;

    &-info {
      text-align: left;
    }
  }

  &--right {
  width: 40%;
  height: 100%;
  }
}



.banner-title {
    font-family: 'Outfit', sans-serif;
}

.container-info {
    position: relative;
    bottom: 60px;
    left: 580px;
}

.home-title {
  font-family: 'Outfit', sans-serif;
  font-size: 22px;

}

h2, p {
  font-family: 'Outfit', sans-serif;
  text-align: left;
}


.image-banner {
  position: relative;

}

.img1 {
    position: absolute;
    width: 180px;
    height: 230px;
    bottom: 209px;
    left: 215px;
    border-radius: 10px;
}
.img1:hover {
  box-shadow: 0px 2px 7px 0px;
}


.img2 {
    position: absolute;
    width: 159px;
    height: 198px;
    bottom: 91px;
    left: 35px;
    border-radius: 10px;
}
.img2:hover {
  box-shadow: 0px 0px 5px 0px;
}

.img3 {
    position: absolute;
    width: 180px;
    height: 230px;
    bottom: 306px;
    left: -10px;
    border-radius: 10px;
}
.img3:hover {
  box-shadow: 0px 0px 5px 0px;
}

.img-womans {
    position: absolute;
    width: 580px;
    height: 580px;
    bottom: -1348px;
    left: 702px;
    padding: 72px;
}

.figuras {
  position: absolute;
  bottom: 465px;
    left: -628px;
    height: 39px;
}


.banner h1, h2, h4 {
  font-family: 'Outfit', sans-serif;
  text-align: center;
  color: white;

}

h6 {
  color: white;
}

h5 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Outfit', sans-serif;
}

.h1, h6 {
  font-family: 'Outfit', sans-serif

}

.btn-light {
	background-color: #1100CB;
	margin: 20px;
	padding: 15px;
	border: 40px;
	border-radius: 15px;
	text-align: center;
  text-decoration: white;
  color: white;
  font-family: 'Outfit', sans-serif;
  border-bottom: #1100CB;

}

a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent
}

.home-info1  {
  background-image: ('https://images.unsplash.com/photo-1580894732444-8ecded7900cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-size: cover;
  width: 100%;
  text-align: center;
  height: 700px;
}

.home-info2 {
  background-color: #111111ee;
  background-size: cover;
  width: 100%;
  text-align: center;
  height: 560px;
}

.home-info3 {
  background-color: #ffffffe5;
}

.home-info4 {
  background-color: #ffffffe5;
  height: 400px;
}


.card-img{
  background-color: white !important;
  height: 83px;
  width: 83px;
  border-radius: 8px;
}

.card-img > p{
  text-align: center;
}

.img5{
  height: 50px;
  width: 50px;
}
.img-icons{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}

.banner-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.img-banner {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

  & img {
    width: 90%;
  }
}

.img-banner img{
  border-radius: 8px;
}

.card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.boton{
  display: flex;
  justify-content: space-around;
  color: #1100CB;
}


body {
  font-family: 'Outfit', sans-serif;
}

.btn-detalles1 {
  background-color: #f8f9fa;
  border-color: #1100CB;
  border-radius: 8px;
  font-weight: bold;
  border-width: medium;
  color: #1100CB;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  padding: 6px 40px;
    left: 340px;
    position: absolute;
    bottom: -17px;
}

.btn-detalles2 {
  background-color: #f8f9fa;
  border-color: #1100CB;
  border-radius: 8px;
  font-weight: bold;
  border-width: medium;
  color: #1100CB;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  padding: 6px 40px;
  left: 570px;
    position: absolute;
    bottom: -17px;
}

.btn-detalles:hover {
    color: #fff;
    background-color: #1100cb;
    border-color: #f8f9fa;
}

// .btn-detalle {
//   left: 262px;
//   position: absolute;
//   padding: 6px 40px;
// }