.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}






// Smallest device


.cards-detail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 50px;
}

.cards-detail {
    margin-top: 84px;
    height: calc(34vh - -351px);
}

@media (min-width: 100px) and (max-width: 575px) {
  .cards-detail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin: 100px 50px;
  }
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-detail {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-detail {
    grid-template-columns: 1fr;
  }
}



// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-detail {
    grid-template-columns: 1fr 1fr;
  }
}
// Large devices (desktops, 992px and up)
@media (min-wid: 992px) {

 .cards-detail {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .cards-detail {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.card-button{
  margin: 100px 50px;
  content: center;
}

.photo-perfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow:hidden;
}

.photo-perfil img {
    width:100%;
    height: 100%;
}
// .profesor {
//     display:flex;
//     justify-content: space-between;

// }
.chat-container {
    flex-grow: 1;
    padding: 16px;
    display: flex;
    flex-direction: column;
}
.chat-conversations {
    flex-grow: 1;
    padding: 16px 0px;
    height: 336px;

}
.message {
    display: flex;
    align-items: flex-start;
}
.message img {
    width: 40px;
    border-radius: 4px;
    margin-right: 16px;
}
img {
    vertical-align: middle;
}
.message .message-content {
    flex-grow: 1;
}
.cuestionario {
  margin-bottom: 100px;
  margin-top: 18px;
  margin-right: 46px;
}
.head-detail{
  color:#6610f2;
  font-weight: bold;
}
// .fab{
//   color:#6610f2;
// }
