
.cards-container{
  display: flex;
  background-color: white;
  overflow: hidden;
  height: 172px;
  width: 396px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  /* bottom: 209px;
  left: 215px;
  position: absolute; */
}
.cards-2{
 padding: 12px;
 margin: 0;
}
 .cards-2 h3 {
  font-weight: bold;
 }
.cards-c {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 47px;
}
// .card-product {
//   overflow: hidden;
//   height: 120px;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
.img6{
  height: 150px;
  width: 150px;
  padding-left: 10px;
  border-radius: 20px;
}

.img7{
  height: 301px;
  width: 281px;
}

// @media(max-width: 50px) {
//   .cards {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     grid-gap: 30px;
//   }
// }

.index-banner p{
  text-align: left;
}

.last-end p{
  text-align: left;
}


