// body {
//   font-family: 'Lora', serif;
//   font-size: 16px;
// }

.exam-form, .exam-admi {
  margin-top: -320px;
  padding: 334px;
  font-family: 'Outfit', sans-serif;
}

h2, p {
  text-align: justify;
}

.title-exams {
  color: tomato;
}
