/* .form-inputs {
  padding: 250px;
}
 */
.login-form {
    margin-top: -230px;
    height: calc(80vh - -282px);
    padding: 334px;
}

.form-inputs {
  padding: 40px;
}

.login-signup {
  margin-top: -230px;
  height: calc(80vh - -282px);
  padding: 334px;
  font-family: 'Outfit', sans-serif;
}

.form-actions a {
  color: rgb(255, 255, 255);
  font-family: 'Outfit', sans-serif;
}

.form-inputs {
  font-family: 'Outfit', sans-serif;
}

.enlace-login {
  color: black;
}
