.imgmundo {
    height: 160px;
    position: relative;
    bottom: -57px;
    left: 401px;
}

.cursiva {
    position: relative;
    left: -734px;
    height: 150px;
    bottom: -285px;
}

.cursivacurso {
    position: relative;
    left: 155px;
    height: 150px;
    bottom: 69px;
}

.img-youtube {
  height: 50px;

}

.linea1 {
    position: relative;
    left: -60px;
    height: 157px;
    bottom: -146px;
}

.linea2 {
    position: relative;
    left: -305px;
    height: 100px;
    bottom: -110px;
}
