.navbar-lewagon {
  justify-content: space-between;
  background-color: none;
}

.navbar-lewagon-white {
  background-color: #fefdf9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 160px;
  border-radius: 50%;
}

.navbarDropdown {
  width: 70px;
  height: 70px;
}

.btn .btn-primary .btn-sm {
  background-color: black;
}


.btn-navbar {
  background-color: rgb(13, 0, 190);
}


.btn-navbar {
    background-color: #f8f9fa;
    border-color: #1100CB;
    border-radius: 8px;
    font-weight: bold;
    border-width: thin;
    color: #1100CB;
    font-family: 'Outfit', sans-serif;
}

.btn-navbar:hover {
    color: #1100CB;
    background-color: white;
    border-color: white;
}
