.navbar-lewagon {
  justify-content: space-between;
  background-color: none;
}

.navbar-lewagon-white {
  background-color: #fefdf9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 160px;
  border-radius: 50%;
}

.navbarDropdown {
  width: 70px;
  height: 70px;
}

.btn .btn-primary .btn-sm {
  background-color: black;
}
