.navbar-lewagon {
  justify-content: space-between;
  background-color: none;
}

.navbar-lewagon-white {
  background-color: #fefdf9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 160px;
  border-radius: 50%;
}

.navbarDropdown {
  width: 70px;
  height: 70px;
}

.btn .btn-primary .btn-sm {
  background-color: black;
}


.btn-navbar {
  background-color: rgb(13, 0, 190);
}


.btn-navbar-creative{
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-navbar-creative:hover {
  opacity: 1;
}
