<div class="container exam-admi">
  <div class="row">
    <div class="col-8 mx-auto">
      <h2><%= @detail.name %></h2>
      <% @exams.each do |exam| %>
        <%= exam.question %>
        <%= simple_form_for [exam, @answer] do |f| %>
          <%= f.input :answer, label:"Selecciona tu respuesta", as: :radio_buttons, collection: [exam.answerA, exam.answerB, exam.answerB]%>
        <% end %>
      <% end %>
      <button type="submit" class="btn btn-primary mb-2">Enviar</button>
    </div>
  </div>
</div>
