<div class="container exam-form">
      <% @exams.each do |exam| %>
        <%= exam.question %>
        <%= simple_form_for [exam, @answer] do |f| %>
          <%# <div class="exam-inputs"> %>
            <%= f.input :answer, as: :radio_buttons, collection: [[exam.answerA, "A"], [exam.answerB, "B"], [exam.answerB, "C"]]%>
          <%# </div> %>
        <% end %>
        <%#=f.submit "Enviar", class:"btn btn-primary" %>
      <% end %>
      <button type="submit" class="btn btn-primary mb-2">Enviar</button>
</div>
