
<div class="container container-details">
  <h2 style = "color: black; margin-top:75px; text-align:center;"><%= @course.name %></h2>
  <div class="cards-detail">
  <% @details.each do |detail| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= detail.video_url %>)">

      <%= link_to detail.name, course_detail_path(detail.course,detail), class: "btn btn-outline-light", style: "font-size:20px;"%>
    </div>
  <% end %>

  </div>
  <div class = "container" style = "margin-bottom: 85px; margin-top: 30px; padding-left: 0px;">
    <%= link_to 'Volver', course_path(@course), class: "btn btn-outline-dark" %>
  </div>

</div>
