
<div class="container">
  <div class="d-flex">
    <div>
      <ul style = "list-style: none">
        <li><%= link_to "Module 1", detail_path(@course), class: "btn btn-success" %></li>
        <li><%= link_to "Module 2", detail_path(@course), class: "btn btn-success" %></li>
        <li><%= link_to "Module 3", detail_path(@course), class: "btn btn-success" %></li>
      </ul>

    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
</div>









<%= link_to "new_review" , new_detail_review_path(Detail.first), class:"btn btn-primary" %>
